# Application
PORT=3003
NODE_ENV=development
API_PREFIX=/api/v1

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/hackaton_reports

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672

# Service
SERVICE_NAME=report-service
SERVICE_VERSION=1.0.0
